<div>
<h3>Estadísticas para administradores</h3>

<!-- EL {{ }} es importantisismo porque muestra valores disponibles de los controladores en las vistas -->
<!-- adentro hay un vm. algo estos deben estae definidos en el controlador o en algun servicio inyectado -->
<h4>Ventas totales por compania</h4>
<p>{{vm.TotSalesPerComp}}</p>

<div class="row">       <!-- Formato bonito para tablas-->
    <div class="col-md-12" >
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" ></div>
    </nav>
        <h4>Ventas nuevas</h4>  <!-- titulo de tabla-->
        <table class="table table-striped table-bordered">
        <thead>
        <th> Name&nbsp;</th>        <!-- tiene 2 encabezados-->
        <th>AmmountSold&nbsp;</th>
        </thead>
        <tbody>             <!-- el vm. algo debe exisitir en el controlador o en un servicio inyectado-->
            <tr ng-repeat="x in vm.newSales">   <!--el ng-repeat es importantisimo -->
                                                <!--es como un for, itera en una lista -->
                <td>{{x.Name}}</td>
                <td>{{x.AmmountSold}}</td>
            </tr>           <!-- estos son los valores de la tabla-->
          </tbody>    
        </table>
    </div>
</div>


<div class="row">
  <div class="col-md-12" >
  <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" ></div>
    </nav>
        <h4>Ventas globales</h4>
        <table class="table table-striped table-bordered">
          <thead>
          <th> Name&nbsp;</th>
          <th>AmmountSold&nbsp;</th>
          </thead>
        <tbody>
            <tr ng-repeat="y in vm.globalsSales"> 
                                                <!-- basicamento igual al anterior -->
                <td>{{y.Name}}</td>
                <td>{{y.AmmountSold}}</td>
            </tr> 
        </tbody>   
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12" >
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" ></div>
    </nav>
        <h4>Ventas por Compania</h4>
        <table class="table table-striped table-bordered">
        <thead>
        <th> Name&nbsp;</th>
        <th>AmmountSold&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="z in vm.salesPerCompany">
            
                <td>{{z.Name}}</td>
                <td>{{z.AmmountSold}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

                <!-- para poder cerra sesion -->
<p>&nbsp;</p>  <!--esto es una cosa de html, no es muy importante -->
<p><a href="#/login" class="btn btn-primary">Cerrar Sesión</a></p>
</div>